header {
    padding: 0.75rem;
    background-color: #0C71C3;
    color: white;
    font-weight: bold;
    text-align: center;
}

header ul {
    display: flex;
    justify-content: center;

    gap: 0.75rem;
}

header a:hover {
    color: rgb(202, 202, 202);
}