table.ranking {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

table.ranking tr, table.ranking td, table.ranking th {
    padding: 0.5rem;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-family: 'Passion One', cursive;
    font-size: 20px;
    color: #0C71C3;
}

